body{
    background-image = "img/universe.jpg";
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display:flex;
    justify-content: center;
}

h1{
    text-align: center;
    color: darkturquoise;
    text-shadow: 0 0 1pt white;
}

.content{
    margin: 40px;
    background:rgb(9, 9, 17);
    width: 400px;
    height: 90vh;
    border-radius: 10px;
    display: grid;
    grid-template-rows: 1fr 9fr 1fr;
    box-shadow: 0 0 3px inset dimgrey;
}

.box{
    padding: 20px;
    background: darkslategrey;
    margin: 25px;
    border-radius: 10px;
    box-shadow: 0 0 2pt darkslategrey;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.line{
    background: rgb(9, 9, 17);
    width: 300px;
    border-radius: 8px;
    box-shadow: 0 0 2pt inset darkslategrey;
    height: 50px;
    margin: 5px;
    display:flex;
    flex-direction: row;
    justify-content: space-around;

}

.circle{
    width:30px;
    height: 30px;
    border: 2pt solid black;
    box-shadow: 0 0 2pt inset black, 2pt 2pt 5pt inset black;
    border-radius: 50%;
    margin:auto;
}

.circle:hover{
    box-shadow: 0 0 2pt inset black, 2pt 2pt 2pt inset black, 0 0 2pt cyan;
}